a:active {
    color: #d4af37;
}

a:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
}

form input:focus {
    background-color: #dddd;
}

textarea:focus {
    background-color: #dddd;
}

form button:hover {
    animation: crescer 0.5s linear infinite alternate;
}

@keyframes crescer {
    0% {width: 200px;}
    25% { width: 210px;}
    50% { width: 230px;}
    75% { width: 210px;}
    100% { width: 200px;}
}

a, 
form input, 
textarea, 
form button, 
.imagem img {
    transition: all 0.3s ease-in-out; 
}

.imagem img:hover {
    transform: scale(1.05);
}

nav a {
    display: inline-block;
}

nav a:hover {
    transform: translateY(-3px);
}