a:active {
    color: #d4af37;
}

a:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
}

form input:focus {
    background-color: #dddd;
}

textarea:focus {
    background-color: #dddd;
}

form button:hover {
    animation: crescer 0.5s linear infinite alternate;
}

@keyframes crescer {
    0% {width: 200px;}
    25% { width: 210px;}
    50% { width: 230px;}
    75% { width: 210px;}
    100% { width: 200px;}
}

a, 
form input, 
textarea, 
form button, 
.imagem img {
    transition: all 0.3s ease-in-out; 
}

.imagem img:hover {
    transform: scale(1.05);
}

nav a {
    display: inline-block;
}

nav a:hover {
    transform: translateY(-3px);
}

a, form input, textarea, form button, #galeria img, .imagem img {
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#galeria img:hover {
    transform: scale(1.08) translateY(-5px);
    box-shadow: 0px 12px 24px rgba(66, 13, 13, 0.5); 
    border-color: #e8cc6f !important;
    cursor: pointer;
    filter: brightness(1.1);
}

form input, form textarea {
    background-color: #fcfcfc;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
}

form input:focus, form textarea:focus {
    background-color: #fff;
    border-color: #d4af37;
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.4);
    outline: none;
    transform: scale(1.01);
}

form button {
    background-color: #420d0d;
    color: white;
    border: 2px solid #420d0d;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 0;
    height: auto;
}

form button:hover {
    background-color: white;
    color: #420d0d;
    border-color: #d4af37;
    box-shadow: 0px 8px 15px rgba(212, 175, 55, 0.3);
    animation: none; 
    transform: translateY(-3px) scale(1.05);
}

#banner a:hover {
    background-color: #d4af37;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}