@import "./efeitos.css";





body {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid #d4af37;
}

header h1 {
    font-size: 30px;
    margin-bottom: 0px;
}

header p {
    color: #d4af37;
    margin-top: 0px;
}

nav {
    padding: 10px;
    font-weight: bold;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 5px;
}

/* Banner */
#banner {
    background-color: #420d0d;
    color: white;
    padding: 80px 20px;
}

#banner h2 {
    font-size: 32px;
}

#banner p {
    margin: 15px 0 25px 0;
}

#banner a {
    background-color: white;
    color: #420d0d;
    padding: 10px 25px;
    text-decoration: none;
}

/* Seção Sobre com tabela */
#sobre {
    margin: 60px auto;
    padding: 0 20px;
    max-width: 800px;
}

#sobre h3 {
    font-size: 46px;
    margin-bottom: 30px;
}

#sobre p {
    font-size: 20px;
    margin-bottom: 30px;
}

#sobre li {
    font-size: 20px;
}

/* Section Vinho */

#vinho{
    background-color: #e9c245;
    color: white;
    align-self: center;
}

#vinho2{
    background-color: #d9d9d9;
    color: rgb(71, 71, 71);
    align-self: center;
}

#vinho img{
    height: 300px;
    width: 200px;
}

#vinho2 img{
    height: 300px;
    width: 200px;
}

#vinho h4{
    font-size: 25px;
    margin-top: 10px;
}

#vinho2 h4{
    font-size: 25px;
    margin-top: 10px;
}

table {
    width: 100%;
}

td {
    padding: 15px;
    vertical-align: top;
}

.texto {
    text-align: left;
}

.imagem img {
    width: 100%;
    max-width: 400px;
}

/* Rodapé */
footer {
    background-color: #0f0c0c;
    color: white;
    padding: 40px 20px;
    margin-top: 50px;
}